/videos/
/checkpoints/
/__pycache__/
*.pyc
/.vscode/
256_256_resfcn256_weight.data-00000-of-00001
256_256_resfcn256_weight.index
/imgs/
/speed_test/
shape_predictor_81_face_landmarks.dat
filelist.py
filelist.txt
notebook.ipynb
time_cpu.txt
time_gpu.txt
time.txt
test_preprocessor.py